*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.cont{
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;

}
.container1-wrap{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: 100vh;
}

h1{
    padding: 8px;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 1em;
    color: blueviolet;
}

.container2-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;

}

h3{
    color: blueviolet;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid black;
    width: fit-content;
    margin: 20px auto;

}

.img-item{
    background-color: blueviolet;
    width: 350px;
    height: 350px;
    display: none;
    animation-name: fade;
    animation-duration: 5s;
    text-align: center;
    margin: 10px auto;

}



@keyframes fade{
   from{opacity: .2}
   to{opacity: 1}
}
.image{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 25px;

}

p{
margin-top: 130px;
white-space: wrap;
text-align: center;
margin: 15px;
}

@media screen and (max-width: 500px) {
.img-item{
    width: 100%;
}
p{
margin-top: 10px;
text-align: left;
}

}